<ul class="blanket-list">
  <% @blankets.each do |blanket| %>
    <li class="blanket-list-card">
      <% if blanket.photo != "" %>
        <%= link_to image_tag(blanket.photo), "/blankets/#{blanket.id}" %>
      <% else %>
        <%= link_to image_tag("http://www.paleopassionfoods.com/skin/frontend/default/default/images/noimage.jpg"), "/blankets/#{blanket.id}" %>
      <% end %>
      <h3><%= link_to blanket.name, "/blankets/#{blanket.id}" %></h3>
    </li>
  <% end %>
</ul>
