<h1>Make a list of blankets</h1>

<%= form_tag("/list", method: "get") do %>
  <%# render "shared/errors", object: @blankets %>
  <%= hidden_field_tag(:status_ids, 7) %>
  <%= label_tag "Blankets needing repair" %>
  <%= submit_tag "See list"%>
<% end %>
