<h1>Password reset request</h1>

Hello, <%= @user.email %>!

We received a request from this email to reset your password at Blanket Boss.

To reset your email, click the following link: <%= @url %>

If you did not request this password reset, please ignore this eamil.

Have a great day!
