<h1>Thanks for joining Blanket Boss!</h1>

<p>
  Hey <%= @user.email %>, are you ready to get your equine wardrobe under control?
</p>
<p>
  Awesome! To get started, simply <%= link_to "log in", new_session_url %> to your account and <%= link_to "add your first blanket", new_blanket_url %>.
</p>
