<h2>BlanketBoss:<br />
your equine wardrobe manager!</h2>

<p>
  Many horse owners choose to stable our horses, and ride and train them year-round. Often, this means we need to manage their coat growth, and supplement their care with blankets. Sometimes many blankets. Sometimes... entire wardrobes.
</p>
