<section class="home-container" id="home-top">

  <div class="home-inner">
    <div class="home-brand">
      <div class="blanket-logo">
        <%= image_tag "blanket-boss-horse-beige", alt: "Blanket Boss logo" %>
      </div>
      <h1 class="title">Blanket<span>BOSS</span></h1>
    </div>

    <div class="home-top-content">
      <h3 class="subtitle">Your Equine Wardrobe Manager</h3>

      <div class="home-login">
        <%= render "sessions/form" %>

        <%= link_to "Register", new_user_path %>
      </div>
    </div>
  </div>

</section>

<section class="home-container"id="home-main">
  <div class="home-inner">
    <p>
      Many horse owners choose to stable our horses, and ride and train them year-round. Often, this means we need to manage their coat growth, and supplement their care with blankets. Sometimes many blankets. Sometimes... entire wardrobes.
    </p>
    <p>
      Whether you have one horse with many blankets of different types, blankets for home and for show, or multiple horses each with their own blankets, BlanketBoss will help you keep track of them all.
    </p>
  </div>
</section>
