<div class="home-top">
  <div class="home-top-inner">
    <div class="home-brand">
      <div class="blanket-logo">
        <%= image_tag "blanket-boss-horse-beige", alt: "Blanket Boss logo" %>
      </div>
      <h1 class="title">Blanket<span>BOSS</span></h1>
    </div>

    <div class="home-top-content">
      <h3 class="subtitle">Your Equine Wardrobe Manager</h3>

      <div class="home-login">
        <%= render "sessions/form" %>

        <%= link_to "Register", new_user_path %>
      </div>
    </div>
  </div>

</div>
