<div class="home-container" id="home-main">
  <div class="home-inner">
    <section>
      <%# image_tag "https://upload.wikimedia.org/wikipedia/commons/1/1d/Blanketed.jpg" %>
      <div class="p-bg p-bg-image1"></div>
      <h2>Well, <em>yeah</em>, horses have wardrobes!</h2>
      <p>
        Many horse owners choose to stable our horses, and ride and train them year-round. Often, this means we need to manage their coat growth, and supplement their care with blankets. Sometimes many blankets. Sometimes... entire wardrobes.
      </p>
      <%= link_to "Learn more", about_url, class: "button" %>
    </section>
    <section>
      <%# image_tag "https://upload.wikimedia.org/wikipedia/commons/5/54/Flying_Kick.jpg" %>
      <div class="p-bg p-bg-image2"></div>
      <h2>Keep track of their clothes</h2>
      <p>
        Whether you have one horse with many blankets of different types, blankets for home and for show, or multiple horses each with their own collection of blankets, Blanket Boss will help you keep track of them all.
      </p>
      <%= link_to "Sign up for your free account", new_user_path, class: "button" %>
    </section>
  </div>
</div>
