// TABS
.accordion-tabs {
  @include clearfix;
  margin: $small-spacing 0;

  .tab-header-and-content {
    list-style: none;

    @media (min-width: $medium-screen) {
      display: inline;
    }
  }
  .tab-link {
    display: block;
    padding: 8px;

    @media (min-width: $medium-screen) {
      display: inline-block;
    }
  }
  .is-active {
    background: $secondary-background-color;
  }
  .tab-content {
    display: none;
    width: 100%;
    padding: $small-spacing;
    background: $secondary-background-alpha;

    @media (min-width: $medium-screen) {
      float: left;
    }
  }
}

// LIST FILTERS
.blanket-filters {
  text-align: center;
  label {
    display: block;
    margin: 0;
  }
  select {
    width: 100%;
    margin: 0;
  }
}
.tab-header-and-content {
  a {
    color: $blue;
  }
  a:hover,
  a:visited {
    color: $dark-blue;
  }
}
.filter-input {
  display: inline-block;
  margin-right: $small-spacing;
  vertical-align: bottom;
}


// BLANKET LIST
.blanket-list {
  max-width: $medium-screen;
  margin: 0 auto;
}
.blanket-link {

}
.blanket-list-card {
  padding: $base-spacing;
  overflow: hidden;
  border-bottom: $base-border;
  color: #888;
  &:first-of-type {
    border-top: $base-border;
  }
  &:hover {
    background: $secondary-background-alpha;
    transition: 0.3s ease;
  }
  .blanket-actions {
    display: none;
  }
  &:hover .blanket-actions {
    display: initial;
  }
  h3 {
    margin: 0 0 $small-spacing;
  }
  a {
    color: $blue;
  }
  a:hover,
  a:visited {
    color: $dark-blue;
  }
  a:hover {
    text-decoration: underline;
  }
  p {
    margin: 0;
  }
}
.blanket-thumbnail {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: $base-spacing;
  background: center;
  background-size: cover;
}

// BLANKET DISPLAY
.blanket-card {
  padding: $base-spacing;
  img {
    width: 100%;
  }
  h1 {
    margin: 0 0 $base-spacing;
  }
}

.blanket-actions {
  float: right;
  margin-left: $small-spacing;
  i {
    font-size: 1.2rem;
    padding: 3px;
  }
}
.blanket-status {
  margin-right: $small-spacing;
  white-space: nowrap;
  &:before {
    font-family: "Font Awesome";
    content: "\f00c";
    padding-right: 2px;
  }
}


// BLANKET FORM
#blanket-form {
  max-width: $medium-screen;
  margin: 0 auto;
}
.status-label {
  display: inline-block;
  font-weight: normal;
}
.photo-upload {
  margin-left: $base-spacing;
}
