// TABS
.accordion-tabs {
  @include clearfix;
  margin: $small-spacing 0;

  .tab-header-and-content {
    list-style: none;

    @media (min-width: $medium-screen) {
      display: inline;
    }
  }
  .tab-link {
    display: block;
    padding: 8px;

    @media (min-width: $medium-screen) {
      display: inline-block;
    }
  }
  .is-active {
    background: $secondary-background-color;
  }
  .tab-content {
    display: none;
    width: 100%;
    padding: $small-spacing;
    background: $secondary-background-alpha;

    @media (min-width: $medium-screen) {
      float: left;
    }
  }
}

// LIST FILTERS
.blanket-filters {
  text-align: center;
  .filter-input {
    display: inline-block;
    margin-right: $small-spacing;
    vertical-align: bottom;
  }
  label {
    display: block;
    margin: 0;
  }
  select {
    width: 100%;
    margin: 0;
  }
}


// BLANKET LIST
.blanket-list {
  max-width: $medium-screen;
  margin: 0 auto;
}
.blanket-link {

}
.blanket-actions {
  float: right;
  margin-left: $small-spacing;
  i {
    font-size: 1.2rem;
    padding: 3px;
    background: $base-background-color;
  }
}

.blanket-list-card {
  padding: $base-spacing;
  overflow: hidden;
  border-bottom: $base-border;
  &:first-of-type {
    border-top: $base-border;
  }
  &:hover {
    background: $secondary-background-alpha;
    transition: 0.3s ease;
  }
}
.blanket-thumbnail {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: $base-spacing;
  background: center;
  background-size: cover;
}

// BLANKET DISPLAY
.blanket-card {
  padding: $base-spacing;
  img {
    width: 100%;
  }
  span {
    font-weight: bold;
    margin-right: 0.5em;
  }
}


// BLANKET FORM
#blanket-form {
  max-width: $medium-screen;
  margin: 0 auto;
}
.status-label {
  display: inline-block;
  font-weight: normal;
}
.photo-upload {
  margin-left: $base-spacing;
}
