// BLANKET LIST --------------------------------------------------------
.blanket-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.blanket-list-card,
.blanket-card {
  padding: 1em;
  margin: 1em 0;
  img {
    border: 5px solid #fff;
  }
}
.blanket-list-card {
  overflow: hidden;
  img {
    width: 20%;
    float: left;
  }
  h3 {
    margin-left: 1em;
    float: left;
  }
}
.blanket-card {
  img {
    width: 100%;
    border: 5px solid #fff;
  }
  span {
    font-weight: bold;
    margin-right: 0.5em;
  }
}
.blanket-actions {
  text-align: center;
  a,
  a:hover,
  a:active,
  a:visited {
    color: #fff;
  }
  a {
    padding: 0.5em 1em;
    margin: 0.5em;
  }
}
