body {
  background: $base-background-color;
}

main {
  padding: $base-spacing;
  max-width: $large-screen;
  display: block;
  margin: 0 auto;
}

// MODALS
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  background: $secondary-background-color;
  opacity: 0.8;
  transition: opacity 0.25s ease;
}
#modal {
  display: none;
  position: absolute;
  z-index: 201;
  margin: $small-spacing;
  max-width: $medium-screen;
}
#content {
  background: $base-background-color;
}
#close {
  position: absolute;
  z-index: 202;
  display: block;
  margin: 3px;
  background: $base-background-color;
  top: -3px;
  right: 1px;
  color: $base-font-color;
}


// FLASHES

.flash {
  position: fixed;
  z-index: 200;
  width: 100%;
  i {
    float: right;
    cursor: pointer;
  }
}

$flashes: (
"alert": #fff6bf,
"error": #fbe3e4,
"notice": #e5edf8,
"success": #e6efc2,
) !default;

@each $flash-type, $color in $flashes {
  .flash-#{$flash-type} {
    background-color: $color;
    color: shade($color, 60%);
    border: 2px solid shade($color, 60%);
    display: block;
    margin-bottom: $small-spacing;
    padding: $small-spacing;
    text-align: center;
    box-shadow: 2px 2px 2px shade($color, 40%);

    a {
      color: shade($color, 70%);
      text-decoration: underline;

      &:focus,
      &:hover {
        color: shade($color, 90%);
      }
    }
  }
}
