.title {
  font-size: 12rem;
  font-weight: bold;
  color: transparent;
  background: url("http://i.ebayimg.com/images/g/lysAAMXQlgtSzZZg/s-l400.jpg") repeat;
  -webkit-background-clip: text;
  font-family: Arial;
  text-align: center;
}
