// HOME
.homepage-brand {
  margin: 2rem;
}
.blanket-logo {
  max-width: 380px;
  width: 50%;
  margin: 0 auto;
  background: url("http://i.ebayimg.com/images/g/lysAAMXQlgtSzZZg/s-l400.jpg") repeat;
  img {
    display: block;
  }
}
.title {
  font-family: $brand-font-family;
  color: #000;
  font-size: 4em;
  font-weight: bold;
  line-height: 0.8;
  text-align: center;
  span {
    font-size: 1.5em;
    display: block;
  }
}
.subtitle {
  text-align: center;
}

.homepage-login {
  margin: 0 auto;
  max-width: 400px;
}
// ABOUT
