// HOME
.home-container {
  @include grid-container;
  // @include grid-visual;
  padding: $base-spacing;
}
.home-inner {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}


#home-top {
  position: relative;
  min-height: 500px;
  text-align: center;
  overflow: hidden;
  h3 {
    font-weight: normal;
    margin-top: 3rem;
  }
}

.home-top-bg {
  background: url('20160510_121906.jpg') center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
  filter: opacity(0.7);
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: linear-gradient(150deg, $dark-blue, $secondary-background-color);
    opacity: 0.5;
  }
}
.blanket-logo {
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
  }
}
.home-brand {
  padding: $base-spacing;
}
.title {
  font-family: $brand-font-family;
  font-size: 4em;
  font-weight: bold;
  line-height: 0.8;
  margin-top: $base-spacing;
  span {
    font-size: 1.45em;
    display: block;
  }
}
.title,
.subtitle {
  text-align: center;
  color: $tan;
  text-shadow: 2px 2px 5px #444, 0 0 9px #666;
}
.home-top-content {
  padding: $base-spacing;
  color: $blue;
  position: relative;
  text-align: center;
}



#home-main {
  margin-top: 5rem;
  section {
    position: relative;
    margin: 2rem 0;
    overflow: hidden;
  }
  h2 {
    text-align: center;
    color: $blue;
    padding: $base-spacing;
  }
  p {
  }
  .button {
    float: right;
    clear: right;
    margin: $base-spacing;
  }
}
// .p-bg {
//   filter: opacity(0.5);
//   position: absolute;
//   z-index: -1;
//   height: 100%;
//   width: 100%;
// }
// .p-bg-image1 {
//   background: $secondary-background-color url("https://upload.wikimedia.org/wikipedia/commons/0/03/Winter_play_2.png") 50% 50%/cover;
// }
// .p-bg-image2 {
//   background: $secondary-background-color url("https://upload.wikimedia.org/wikipedia/commons/3/34/%27Cavalli_della_Madonna%27_im_Marstall_des_Klosters_Einsiedeln_2013-01-26_14-11-05_%28P7700%29.JPG") 50% 50%/cover;
// }


@media (min-width: $medium-screen) {
}

@media (min-width: $large-screen) {

}

// ABOUT
.about-top {
  @include clearfix;
}
.about-image {
  width: calc(50% - 1rem);
  margin: 0.5rem;
  float: left;
}

@media (min-width: $medium-screen) {
  .about-image {
    width: calc(50% - 2rem);
    margin: 1rem;
  }
}
