.home-login {
  text-align: center;
  padding: $small-spacing;
  padding-bottom: 0;
  clear: both;
  transition: all ease 0.3s;
}
.hide-login {
  padding: 0;
  opacity: 0;
  height: 0;
  transition: all ease 0.3s;
}

@media (min-width: 460px) {
  .home-login {
    input {
      display: inline-block;
    }
    input:not(.submit) {
      width: 40%;
      max-width: 300px;
    }
  }
}
