#home-login {
  text-align: center;
}

@media (min-width: 460px) {
  #home-login {
    input {
      display: inline-block;
    }
    input:not(.submit) {
      width: 40%;
      max-width: 300px;
    }
  }
}
