#home-login {
  text-align: center;
  label {
    display: none;
  }
}

@media (min-width: 460px) {
  input {
    display: inline-block;
  }
  input:not(.submit) {
    width: 40%;
    max-width: 300px;
  }
}
