<header class="app-header">
  <h1 class="home-link"><%= link_to "Blanket BOSS", root_url %></h1>

  <% if current_user %>
    <nav>
      <ul class="main-menu">
        <li>
          <%= link_to blankets_path do %>
            <i class="fa fa-list" aria-hidden="true"></i>
            <span>View Blankets</span>
          <% end %>
        </li>
        <li>
          <%= link_to new_blanket_path do %>
            <i class="fa fa-plus-square" aria-hidden="true"></i>
            <span>Add Blanket</span>
          <% end %>
        </li>
        <li>
          <%= link_to logout_path, method: :delete do %>
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <span>Log Out</span>
          <% end %>
        </li>
      </ul>
    </nav>
  <% end %>
</header>
