  <header>
    <h1><a href="/">BlanketBoss</a></h1>

    <nav>
      <ul>
        <li><%= link_to("See all blankets", blankets_url) %></li>
        <li><%= link_to("Add a blanket", "#{blankets_url}/new") %></li>
      </ul>
    </nav>
  </header>
