  <header class="app-header">
    <h1 class="home-link"><%= link_to "Blanket BOSS", root_url %></h1>

    <nav>
      <ul class="main-menu">
        <li><%= link_to "See all blankets", blankets_path %></li>
        <li><%= link_to "Add a blanket", new_blanket_path %></li>
        <li><%= link_to "Log out", logout_path, method: :delete %></li>
      </ul>
    </nav>
  </header>
