<div class="home-container" id="home-top">
  <div class="home-top-bg">
  </div>

  <div class="home-brand">
    <div class="blanket-logo">
      <%# image_tag "https://s3.ca-central-1.amazonaws.com/svillegas-blanketboss/site/blanket-boss-horse-beige.png", alt: "Blanket Boss logo" %>
      <%= image_tag "blanket-boss-horse-clear.png", alt: "Blanket Boss logo" %>
    </div>
    <h1 class="title">Blanket<span>BOSS</span></h1>
    <h2 class="subtitle">Your Equine Wardrobe Manager</h2>
  </div>

  <!-- <div class="home-inner">
      <h3>You keep track of your horses. Keep track of their blankets,&nbsp;too.</h3>
      <%= link_to "Log in", login_url, class: "button button-outline" %>
      <%= link_to "Sign up!", new_user_path, class: "button" %>
  </div> -->
</div>
